* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 6rem;
    background: #cb333b;
    color: white;
}

.header-secondary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    background: white;
    height: 50px;
    z-index: 1000;
}

.container {
    display: flex;
    max-width: 90rem;
    margin: auto;
    width: 80rem;
    min-width: 10rem;
}


.set-container-right {
    justify-content: flex-end;
}

.flex-settings {
    flex-direction: row;
    flex-wrap: wrap;
}

.searchbar {
    color: black;
    background: lightgrey;
    width: 800px;
    max-width: 1200px;
    min-width: 300px;
    height: 40px;
    margin: 0 0 0 1rem;
}

.items {
    padding: 0 0.5rem;
}

.style-search-icon {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    padding-top: 7px;
}

.style-other-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7px;
}


/* .bold-text {
    font-weight: bold;
} */